<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>模版列表</title>
  <link href="styles/main.css" rel="stylesheet" />
</head>
<body>
  <h2>模版列表</h2>
  <div class="bar">
    <div class="action">
      <a action="Refresh">刷新</a>
    </div>
    <div style="clear: both;"></div>
  </div>
  <table class="list" border="1">
    <thead>
      <tr>
        <td>path</td>
        <td>action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="virtualpath">
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>
